<div class="container col-xl-6" style="margin-top: 3em;">
  <div class="form-control">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputUsername">┌ Firstname ┐</label>
        <input type="text" class="form-control is-valid" [(ngModel)]="firstname">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputUsername">┌ Lastname ┐</label>
        <input type="text" class="form-control" [(ngModel)]="lastname">
      </div>
      <div class="form-group col-md-4">
        <label for="inputUsername">┌ Username ┐</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control is-invalid" placeholder="Username" [(ngModel)]="username">
          <div class="invalid-feedback">
            Please enter your username!
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
      <small class="form-text text-muted">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters,
        or emoji.</small>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" placeholder="Le Van Viet .St" [(ngModel)]="address">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" placeholder="Ho Chi Minh City" [(ngModel)]="city">
      </div>
      <div class="form-group col-md-4">
        <label for="inputNation">Nation</label>
        <select name="" id="inputNation" class="form-control" [(ngModel)]="nation">
          <option selected value="VietNam">Viet Nam</option>
          <option value="Laos">Laos</option>
          <option value="ThaiLan">ThaiLand</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" placeholder="70000">
      </div>
    </div>
    <div class="form-row">
      <label for="inputEmail">Email</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="chanhdat.ng@gmail.com" [(ngModel)]="email">
        <div class="input-group-append">
          <span class="input-group-text">@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">I agree to the terms</label>
          </div>
          <div class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
              <label class="custom-control-label" for="customControlValidation1">Check this custom checkbox</label>
              <div class="invalid-feedback">Example invalid feedback text</div>
            </div>
            </div>
        <div class="form-group text-right mt-2">
            <button type="button" class="submit btn btn-info" (click)="submit()">Submit</button>
          </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
